@charset "UTF-8";

@media only screen and (min-width: 768px){
    section{
        width: 90vw ;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#forms{
        float: right;
        width: 70%;
    }
}
@media only screen and (min-width: 992px){
    section{;
        width: 90vw ;
        width: 950px;
    }
    section > p {
        font-size: 1.2em;
    }
    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    div#forms{
        float: left;
        width: 50%;
    }
}